.mt-10{
    margin-top:10px;
}
.mt-30{
    margin-top:30px;
}

.header-client-detail{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:20px;
}

.btn-client-detail{
    background-color: #B832A2;
    border:none;
    border-radius:5px;
    color:white;
    font-size:14px;
    padding:10px 10px;
    margin:0px 10px;
    transition:all .1s ease-in-out;
}
.btn-client-detail:hover{
    transition:all .1s ease-in-out;
    transform:scale(1.1);
}
.left-content-client-detail, .right-content-client-detail{
    background-color:#F2FAFF;
    border-radius:5px;
    margin:5px;
    height:80vh;
    box-shadow:0px 3px 15px -4px rgba(0,0,0,0.3)
}
.left-bloc-cd{
    padding:20px;
}
.text-color-client-detail{
    color:#3a3e4acc ;
}
.text-color-client-detail span{
    color:#60BAED;
}
.bloc-tag{
    display:flex;
    flex-direction: row;
}
.tag{
    padding:0px 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius:5px;
    color:white;
    text-shadow: 1px 1px 4px rgb(136, 136, 136);
}

.vip-tag{background-color:rgb(255, 217, 0);}
.email-tag{ background-color:#60BAED;}
.call-tag{ background-color:rgb(87, 161, 57);}

.btn-left-bloc-cd{
    margin-top:100px;
}
.link-left-bloc{
    border:2px solid #60BAED;
    padding:10px;
    color:#60BAED;
    text-decoration: none;
    border-radius:5px;
    transition:all .2s ease-in-out;
}
.link-left-bloc:hover{
    color:#F2FAFF;
    background-color: #60BAED;
    transition:all .2s ease-in-out;

}



/* tab panel */
.nav-tab-pan-client-detail{
    border-bottom:1px solid rgba(58, 62, 74,.5);
}
  
.nav-link.link-secondary{
    font-size:20px;
    margin-right: 20px;
    border-bottom:4px solid rgba(58, 62, 74,0);
    color:rgba(128, 128, 128, 0.521);

}
.nav-link.link-secondary.active{
    border-bottom:4px solid #60BAED;
    transition:all .3s ease-in-out;
    color:rgba(58, 62, 74,1);
}
.link-version-btn,.link-version-btn:hover {
color:white;
}
