.presta-part{
    position:relative;
    background-color: rgba(58, 62, 74,1);
    padding:20px;
    border-radius:10px;
    margin:20px 10px;
};

.presta-content-flex{
 color:red;
}
.price-info{
    color:white;
    background-color:rgba(184, 50, 162,1);
    padding: 10px 70px;
    margin-right: -20px;
}
#presta{
   height:60px;
   background-color:rgba(58, 62, 74,1) ;
   color:white;
   border:none;
   border-bottom:1px solid rgba(184, 50, 162,1);
   border-radius: 0px;
   width:70%;
   font-size:20px;
}

#doctor{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgba(184, 50, 162,1);
    border-radius: 0px;
    color:white;
    font-size:20px;
}
.col-margin{
    margin-top:16px;
}
.input-pesta-part{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 50px;
}
.label-input{
    color:white;
}
.input-presta{
    background-color: transparent;
    border:none;
    border-bottom:1px solid white;
    color:white;
}
.input-presta::placeholder{
    font-size:10px;
}

.patient-input{
    background-color: transparent;
    border:none;
    border-bottom:1px solid rgba(184, 50, 162,1);
    color:white;
}
.label-patient{
    color:white;
}
.form-margin{
    margin-top:100px;
}
.teeth-part{
    margin:0 auto;
    margin-top:50px;
    width:700px;
}
.teeth{
    height:100px;
    margin:0px 10px;
    padding-top:50px;
}
.teeth-part.teeth-bottom{
    margin-top:0px;

}
.teeth-part.teeth-bottom .teeth{
    height:100px;
    padding-top:0px;

}
.teeth-space{
    margin-right:40px;
}

.bgt1,.bgt2,.bgt3,.bgt4,.bgt5,.bgt6,.bgt7,.bgt8,.bgt9,.bgt10,.bgt11,.bgt12,.bgt13,.bgt14,.bgt15,.bgt16,.bgt17,.bgt18,.bgt19,.bgt20,.bgt21,.bgt22,.bgt23,.bgt24,.bgt25,.bgt26,.bgt27,.bgt28,.bgt29,.bgt30,.bgt31,.bgt32{
    background-repeat: no-repeat;
    background-size: 13px;
}
.bgt17,.bgt18,.bgt19,.bgt20,.bgt21,.bgt22,.bgt23,.bgt24,.bgt25,.bgt26,.bgt27,.bgt28,.bgt29,.bgt30,.bgt31,.bgt32{
    background-position-y: 24px;
}
.bgt1{background-image: url('../image/dents/dent1.svg');background-position-y: 23px;}
.bgt2{background-image: url('../image/dents/dent2.svg');background-position-y: 19px;}
.bgt3{background-image: url('../image/dents/dent3.svg');background-position-y: 17px;}
.bgt4{background-image: url('../image/dents/dent4.svg');background-position-y: 10px;}
.bgt5{background-image: url('../image/dents/dent5.svg');background-position-y: 11px;}
.bgt6{background-image: url('../image/dents/dent6.svg');}
.bgt7{background-image: url('../image/dents/dent7.svg');background-position-y: 8px;}
.bgt8{background-image: url('../image/dents/dent8.svg');background-position-y: 12px;}

.bgt9{background-image: url('../image/dents/dent9.svg');background-position-y: 12px;}
.bgt10{background-image: url('../image/dents/dent10.svg');background-position-y: 10px;}
.bgt11{background-image: url('../image/dents/dent11.svg');background-position-y: 0px;}
.bgt12{background-image: url('../image/dents/dent12.svg');background-position-y: 12px;}
.bgt13{background-image: url('../image/dents/dent13.svg');background-position-y: 11px;}
.bgt14{background-image: url('../image/dents/dent14.svg');background-position-y: 18px;}
.bgt15{background-image: url('../image/dents/dent15.svg');background-position-y: 19px;}
.bgt16{background-image: url('../image/dents/dent16.svg');background-position-y: 23px;}

.bgt17{background-image: url('../image/dents/dent17.svg');}
.bgt18{background-image: url('../image/dents/dent18.svg');}
.bgt19{background-image: url('../image/dents/dent19.svg');}
.bgt20{background-image: url('../image/dents/dent20.svg');}
.bgt21{background-image: url('../image/dents/dent21.svg');}
.bgt22{background-image: url('../image/dents/dent22.svg');}
.bgt23{background-image: url('../image/dents/dent23.svg');}
.bgt24{background-image: url('../image/dents/dent24.svg');}

.bgt25{background-image: url('../image/dents/dent25.svg');}
.bgt26{background-image: url('../image/dents/dent26.svg');}
.bgt27{background-image: url('../image/dents/dent27.svg');}
.bgt28{background-image: url('../image/dents/dent28.svg');}
.bgt29{background-image: url('../image/dents/dent29.svg');}
.bgt30{background-image: url('../image/dents/dent30.svg');}
.bgt31{background-image: url('../image/dents/dent31.svg');}
.bgt32{background-image: url('../image/dents/dent32.svg');}

input[type="checkbox"] {
    display: none;
}
.teeth{
    cursor: pointer;
    color: white;
}
.teeth-part input:checked + label{
    color:#B832A2;
}

.add-presta{
    height: 181px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: rgba(58, 62, 74,.3);
    padding:20px;
    border-radius:10px;
    margin:20px 10px;
    border: 2px dotted rgba(58, 62, 74,1);
}

.send-btn-commande{
    background-color: rgba(58, 62, 74,1) !important;
    margin-left:10px;
}
.first-row-commande{
    background-color: rgba(58, 62, 74,1);
    padding:20px;
    border-radius: 10px;
}
.calcul-total-flux{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#F2FAFF;
    color:rgba(58, 62, 74,1);
    width:300px;
    border-radius:5px;
    box-shadow: 0px 3px 15px -4px rgba(0,0,0,0.7);
}

.calcul-total-flux p{
    color:rgba(58, 62, 74,1);
    margin-top:13px;
    font-size:10px;
}

.calcul-total-flux p span{
    font-size: 20px;
    color:#B832A2;
}


.icon-commande{
    margin-top:-5px;
}
.margin-neg{
    margin-bottom:3px;
}

.row-search-bar{
    background-color: rgba(58, 62, 74,1);
    padding:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.div-search-bar{
    display:flex;
    flex-direction:column;
}

.div-search-bar label{
    color:white;
}
.mt-neg{
    margin-top:-10px;
}


/*popup factu */
.list-part{
    position:relative;
}
.background-popup-factu{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0;
    background-color: rgba(0,0,0,.4);
    z-index:100;
    box-shadow: 2px 2px 10px black;

}
.popup-factu{
    width:900px;
    height:auto;
    background-color:white;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    border-radius:10px;
}
.form-factu{
    padding:100px;
}
.form-factu select{
    max-width:278px;
}
.recap-factu h2{
    font-size:16px;
}
.recap-factu{
    margin-top:40px;
}