body{
    background: rgb(242,250,255);
    background: linear-gradient(90deg, rgba(242,250,255,1) 0%, rgba(242,250,255,1) 15%, rgba(96,186,237,.3) 100%);
}
.color1{
    background-color:#3A3E4A;
    padding:0;
}
.color2{
    background-color:#F2FAFF;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.411);
}
h1,h2,h3,h4,h5,p,a{
    font-family: Arial, Helvetica, sans-serif;
    color:#3A3E4A;
    text-decoration:none;
}




/*dashboard*/
.bloc-content{
    background-color:#F2FAFF;
    padding:40px;
    border-radius:10px;
    box-shadow:0px 3px 15px -4px rgba(0,0,0,0.7)
}
.row-content{
    padding:20px 0px;
}
.header-content{
    margin-top:30px;
}
.bloc-content h5{
    text-align:center;
}
.header-title{
    position:relative;
}
.header-content{
    position:relative;
}
.header-title::after, .header-content::after{
    position:absolute;
    content:'';
    width:300px;
    height:2px;
    background-color:rgba(184, 50, 162,1);
    top:38px;
    left:0px;
}