.input-suppl{
    margin:20px 0px;
}
.btn-add-input, .btn-remove-input{
    background-color: #B832A2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
    text-decoration:none;
    margin:5px;
    transition:all .2s ease-in-out;
}

.btn-remove-input{
    background-color: #3A3E4A;
}
.btn-add-input:hover{
    background-color:#771e68 ;
    transition:all .2s ease-in-out;
    color:white;
}
.btn-remove-input:hover{
    background-color: #0a0b0e;
    transition:all .2s ease-in-out;
    color:white;
}

#category{
    width:100%;
}

.table-presta{
    margin-top:50px;
}
.presta-card-bloc{
    position:relative;
    background-color: #F2FAFF;
    padding:10px;
    margin:20px 0px;
    border-radius:5px;
    box-shadow:0px 3px 15px -4px rgba(0,0,0,0.3);
    transition:all .1s ease-in-out;
    min-height:145px;
}
.presta-card-bloc:hover{
    transform: scale(1.1);
    transition:all .15s ease-in-out;
}
.link-presta-card{
    text-decoration: none;
}

.row-presta{
    background-color:white;
    padding:10px;
    border-bottom:1px solid #3A3E4A;
   
}

.crud-bloc:nth-child(1){

}
.link-crud-presta-card:hover{
    color:#B832A2
}
.line-presta{
    height:2px;
    width:400px;
    background-color: #B832A2;
}
.title-presta-card{
    font-size:15px;
    color:#B832A2;
}
.price-presta-card{
    color: #3A3E4A;
    font-weight: bold;
}
.crud-bloc{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.search-bloc-presta{
    display:flex;
    flex-direction:row;

}
.search-bloc-presta{
    background-color: #3A3E4A;
    padding:20px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.search-bloc-presta .bloc-search{
    margin:0px 20px;
}
.title-bloc-search{
    color:white;
}
.search-bloc-presta .bloc-search label{
    color:rgba(255, 255, 255, 0.575);
}



.row-presta:hover{
    background-color: rgba(58, 62, 74,0.1);
}